<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurnSpace</title>
    <link rel="icon" href="/assets//images/logo icon 2.png">
    <link rel="stylesheet" href="/assets/css/forgetPas.css">
</head>

<body>


    <div class="container">
        <header>Reset Password Form</header>
        <h4>Forgot Password</h4>
        <form id="forgotPasswordForm">
            <div class="input-field">

                <input type="email" id="email" placeholder="Enter your email..." required>
            </div>
            <button type="submit">Reset</button>
            <p><small id="message"></small></p>

        </form>
        <footer>furnspace e commerce website <a href="/home">Home</a></footer>
    </div>



    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', function (e) {
            e.preventDefault();

            const email = document.getElementById('email').value;
            const messageElement = document.getElementById('message');

            fetch('/forget-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        messageElement.textContent = "Check your email " + email;
                        messageElement.style.color = "green";
                    } else {
                        messageElement.textContent = data.message;
                        messageElement.style.color = "red";
                    }
                })
                .catch(error => {
                    messageElement.textContent = "An error occurred. Please try again.";
                    messageElement.style.color = "red";
                });
        });
    </script>
</body>

</html>